.DS_Store
Thumbs.db
HELP.md
**/target/
**/build/
**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
*.iml
*.ipr
*.iws

**/node_modules/
**/dist/
**/.angular/
**/.cache/
**/.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
*.pem
*.key
*.crt

**/postgres-data/
**/pgdata/
docker-data/